.mainDiv {
  border-style: solid;
  border-color: black;
  background-color: black;
  margin: auto;
  width: 50%;
  overflow: auto;
  user-select: none;
}

.subDiv1 {
  border-style: solid;
  border-color: black;
  margin: auto;
  overflow: auto;
}

.subDiv2 {
  height: auto;
  padding: 1em;
  text-align: center;
}

.titles {
  margin: auto;
  text-align: center;
  background-color: rgb(128, 128, 128);
}

#titleContainer1 {
  border-bottom: black solid 3px;
}

.rooms {
  margin: 0.5em 0em 0.5em 0em;
  text-align: center;
  background-color: rgb(33, 155, 236);
  border-radius: 2px;
}

.usages {
  margin: 0.5em 0em 0.5em 0em;
  text-align: center;
  background-color: lightgray;
  border-radius: 2px;
}

.status {
  margin: 0.5em 0em 0.5em 0em;
  text-align: center;
  background-color: red;
  border-radius: 2px;
}

#leftDiv {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: black;
  float: left;
  padding: 0.25em;
  margin: 0em;
  width: 40%;
}

#midDiv {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: black;
  float: left;
  padding: 0.25em;
  margin: 0em;
  width: 30%;
}

#rightDiv {
  text-align: center;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  background-color: black;
  float: left;
  padding: 0.25em;
  margin: 0em;
  width: 10%;
}

.circuitTitleHeaders {
  background-color: orange;
  border-radius: 2px;
}

#circuitLiving {

}

#circuitGuestBed {
  
}

#circuitMasterBed {
  
}
